@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    color: white;
}

body {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #849d8f;
}

h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.icon::after {
    position: absolute;
    content: "";
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.btn {
    display: inline-block;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 50px;
    padding: 10px 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    outline: none;
    color: white;
    font-family: "Roboto", "Arial", sans-serif;
}

.btn:hover {
    background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
    box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    color: #fceeec;
    background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
    box-shadow: inset 0 2px 2px #942718;
}

.container {
    width: 1200px;
    padding: 0 27px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    position: relative;
    color: white;
    margin-bottom: 45px;
}

.main-logo {
    margin-top: 10px;
    position: absolute;
    top: -20px;
    left: -5px;
}

.main-menu_wrap {
    position: relative;
    display: flex;
}

.main-menu__list {
    display: flex;
    margin-left: 165px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.main-menu__item_link {
    display: block;
    padding: 10px 13px;
    color: white;
}
.main-menu__item_link-active {
    background-color: #d07058;
    color: white;
    border-radius: 50px;
}

.main-menu__item_link:hover {
    background-color: #f7f6f3;
    border-radius: 50px;
    color: #333;
}

.main-menu__item_link:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px dimgrey;
    border-radius: 50px;
    color: #333;
}

.main-menu__item_drop-catalog {
    position: relative;
}
.main-menu__item_drop-catalog:hover > .drop-catalog__list {
    display: block;
}
.drop-catalog__list {
    display: none;
    position: absolute;
    top: 45px;
    background-color: #f8f7f4;
    border-radius: 5px;
}

.drop-catalog__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
    display: block;
    padding: 7px 13px;
}

.drop-catalog__link:hover {
    background-color: #fbded7;
}

.drop-catalog__link:active {
    background-color: #f6b5a5;
}

.drop-catalog__link-bold {
    font-weight: 700;
}

.drop-catalog__item-line {
    position: relative;
}

.drop-catalog__item-line::after {
    content: "";
    display: block;
    width: 85%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 7px;
}

.user-navigation {
    display: flex;
    position: relative;
}

.user-navigation a {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: white;
    display: block;
    border-radius: 50px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
.user-navigation a:hover {
    background-color: #f8f7f4;
    color: #323232;
}
.user-navigation__search_link {
    position: relative;
    width: 32px;
    height: 32px;
}


.user-navigation__search_link::after {
    left: 8px;
    top: 7px;
    width: 17px;
    height: 17px;
    background-position: -135px -147px;
}

.user-navigation__search_link:hover::after {
    background-position: -30px -147px;
}

.user-navigation__login_link {
    position: relative;
    padding: 8px 16px 8px 43px;
}

.user-navigation__login_link::after {
    left: 14px;
    top: 6px;
    width: 21px;
    height: 19px;
    background-position: -135px -118px;
}

.user-navigation__login_link:hover::after {
    background-position: -135px -89px;
}

.user-navigation__basket_link {
    position: relative;
    padding: 8px 34px 8px 44px;
}

.user-navigation__basket_link::after {
    left: 15px;
    top: 6px;
    width: 21px;
    height: 20px;
    background-position: -36px -5px;
}

.user-navigation__basket_link:hover::after {
    background-position: -5px -5px;
}

.time-job {
    position: absolute;
    bottom: -60px;
    right: 27px;
    text-align: right;
}

.time-job__time {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.time-job__tel {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

main {}

.gift__row {
    display: flex;
    margin-bottom: 40px;
}

.gift__row-block {
    position: relative;
    padding-top: 23px;
    padding-right: 27px;
    padding-left: 18px;
    color: white;
    height: 229px;
    width: 560px;
}

.gift__row-block_title {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    padding-bottom: 25px;
}

.gift__row-block_text {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.gift__row-block_link {
    position: absolute;
    bottom: 23px;
    right: 20px;
}

.gift__raspberries {
    margin-right: 26px;
    background-image: url(../img/raspberries-bg.png);
}

.gift__chocolate {
    background-image: url(../img/chocolate-bg.png);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.gallery__item {
    width: 267px;
    margin-right: 26px;
}

.gallery__item:nth-child(4n) {
    margin-right: 0;
}

.gallery__item a {
    display: block;
    text-align: center;
    color: white;
}

.gallery__item img {
    width: 267px;
}

.gallery__item_wrap {
    position: relative;
}

.gallery__hit {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 61px;
    height: 61px;
    background-position: -5px -64px;
    background-repeat: no-repeat;
    background-image: url(../img/spritesheet.png);
}

.benefits {
    margin-bottom: 40px;
    padding-top: 25px;
    padding-right: 25px;
    background-image: url(../img/wafer-patern.jpg);
    background-repeat: repeat;
    border-radius: 15px;
}

.benefits__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #323232;
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
}

.benefits__item {
    position: relative;
    width: 560px;
    padding-left: 75px;
    padding-right: 5px;
    padding-bottom: 30px;
}

.benefits__text {
    color: #323232;
}

.benefits__icon {
    position: absolute;
    left: 20px;
    top: -15px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.benefits__icon_ice-cream {
    width: 49px;
    height: 49px;
    background-position: -76px -64px;
}

.benefits__icon_cow {
    width: 48px;
    height: 49px;
    background-position: -67px -5px;
}

.benefits__icon_leaf {
    width: 49px;
    height: 49px;
    background-position: -76px -123px;
}

.benefits__icon_termometer {
    width: 48px;
    height: 49px;
    background-position: -177px -5px;
}

.row-blocks {
    display: flex;
    margin-bottom: 40px;
}

.row-block {
    min-height: 220px;
    width: 560px;
    border-radius: 15px;
    background-color: #f8f7f4;
}

.news-preview {
    margin-right: 26px;
    padding: 25px 20px;
    background-image: url(../img/strawberry-bg.png);
}

.news-preview__title {
    color: #323232;
    font-weight: 500;
    display: block;
}

.news-preview__link {
    display: block;
    width: 300px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #323232;
}

.subscription {
    display: flex;
    background-image: url(../img/post-pattern.png);
}

.subscription__wrap {
    margin: 6px;
    padding: 25px 20px;
    border-radius: 10px;
    background-color: #f8f7f4;
}

.subscription__email-form {
    display: flex;
}

.subscription__text {
    color: #323232;
    padding-bottom: 35px;
}

.subscription input {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 44px;
    background-color: white;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    padding-left: 15px;
    margin-right: 10px;
}

.maps {
    position: relative;
    background-color: rgba(150, 122, 220, 1);
    height: 430px;
    /*margin: 0;*/
    /*width: 100vw;*/
}

.store-address {
    position: absolute;
    right: 27px;
    top: 60px;
    width: 302px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 32px 25px;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.store-address b {
    display: inline-block;
}

.store-address__title {
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
}

.store-address__address {
    margin-bottom: 20px;
}

.store-address__tel {
    margin: 4px 0;
}

.store-address__address, .store-address__tel {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #323232;
}

.feedback-form {}

.feedback-form__btn {
    width: 100%;
    margin-top: 25px;
}

footer {
    padding-top: 20px;
    padding-bottom: 30px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-social {
    display: flex;
    padding-top: 15px;
}

.social-btn {
    position: relative;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin-right: 12px;
    opacity: 0.8;
    border: 4px solid rgba(255, 255, 255, 0.5);
    width: 38px;
    height: 38px;
    border-radius: 50px;
}

.social-btn:hover {
    border-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

.social-btn:active {
    border-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    box-shadow: inset 0 2px 1px #888;
}

.btn-tw {
    background-position: -178px -65px;
}

.btn-inst {
    background-position: -136px -48px;
}

.btn-fb {
    background-position: -126px -6px;
}

.btn-vk {
    background-position: -167px -107px;
}

.icon-love {
    position: relative;
}

.icon-love::before {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: 2px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 13px;
    background-position: -5px -147px;
}

.footer-info {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    padding-top: 15px;
}

.footer-copyright {
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.footer-info__left-collumn {
    margin-right: 25px;
}

.breadcrumbs {
    display: flex;
    margin-bottom: 10px;
}

.breadcrumbs__item, .breadcrumbs__item a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.breadcrumbs__item {
    padding-right: 7px;
}

.breadcrumbs__item:not(:last-child)::after {
    content: "»";
    padding-left: 7px;
}

.sorting-form {
    display: flex;
    flex-wrap: wrap;
}

.sorting-form select, .sorting-form button, .sorting-form input, .fat__list, .filler__list {
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 15px;
}

.form-title {
    padding-bottom: 5px;
    padding-left: 15px;
}

.fat__list, .filler__list {
    display: flex;
}

.sorting-form_wrap {
    margin-bottom: 15px;
}

.sorting-form_wrap .to-sort-btn {
    outline: none;
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 27px;
    border: 2px solid white;
}
